<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some website</title>
</head>
<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate adipisci reprehenderit ullam maiores eaque ducimus nisi natus ab molestias. Perspiciatis, quidem dolor. Tenetur voluptas eveniet, laudantium itaque ducimus ex dolorem quas et qui tempore officia, impedit officiis odio magni debitis labore veritatis. Tenetur quis animi perspiciatis quos quas fugiat doloribus maiores accusamus nisi atque explicabo rem impedit dolores, voluptatem beatae! Excepturi fugit est perferendis temporibus fugiat? Ducimus animi eligendi autem consequatur, tempora sequi minima, tenetur quod soluta maxime voluptatum nobis consequuntur dolores sed fugit molestiae eos maiores sit et. Inventore excepturi itaque fuga, optio illo aspernatur voluptatibus quae natus exercitationem.</p>

    {{> footer}}
</body>
</html>